{% extends 'generator/layout.html' %}

{% block content %}

<h1 class="text-success">About</h1>

<p class="text-success">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa facere, quasi
    molestias officia necessitatibus libero eius ut placeat eos. Neque veritatis
    quae molestiae nihil odit laborum explicabo nobis magnam doloribus
    exercitationem! Veniam non, ab nulla numquam incidunt repellat omnis nostrum
    deleniti repellendus quisquam et sequi deserunt ducimus esse odit aliquid,
    error est soluta dolore veritatis. Voluptatem temporibus in obcaecati nihil
    quia. Alias repellat voluptate eligendi accusantium pariatur totam illo culpa
    nulla! Autem quis dignissimos iste, aperiam dicta nesciunt porro ab? Rerum
    incidunt vero sequi quod doloremque tempora quae facere error numquam cum ex
    suscipit repellat provident similique eos quis, molestiae beatae reiciendis
    explicabo voluptas cumque ullam itaque! Explicabo, adipisci? Expedita, ratione
    beatae possimus minus aperiam impedit dolorum accusantium fugiat doloribus
    excepturi voluptate iusto odit rerum unde? Unde voluptatem cumque quia
    repellat error quo hic harum. Molestias, molestiae! Eveniet, quo suscipit
    reprehenderit dolorem saepe dicta eos provident sed, odio cumque ducimus error
    iste rerum mollitia nostrum consequuntur. Qui, aliquid. Facilis adipisci alias
    libero commodi amet aliquid ratione suscipit aspernatur perferendis! Eum
    blanditiis vero aperiam sapiente soluta consequatur. Delectus tenetur nostrum
    nemo corporis necessitatibus. Nulla reiciendis sit ab aperiam eveniet minima
    expedita rerum omnis sequi corporis harum a magni eaque optio quas adipisci,
    debitis, ullam eum nobis aspernatur. Magnam at fuga dolores eveniet vero
    dolorum doloremque, beatae consequatur ullam voluptates exercitationem,
    consectetur autem cupiditate? Adipisci nostrum quibusdam id praesentium
    voluptatibus eligendi, accusamus aut excepturi debitis illum quis impedit at
    dolores, temporibus quas reprehenderit tempora nulla, perspiciatis quo iusto
    vero quam quasi blanditiis! Consectetur quibusdam consequatur quasi maiores
    iure! Nihil, recusandae a doloribus obcaecati nam hic suscipit nisi alias
    nobis excepturi voluptatibus quod exercitationem tenetur sit animi dolor.
    Sequi, temporibus nihil magnam vel nostrum labore pariatur adipisci, autem
    nobis odit cumque assumenda! Laudantium aliquid fuga itaque, ducimus mollitia
    quas accusantium dicta labore nemo!
</p>

<p class="text-success">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero aspernatur,
    magnam quia vel et fuga quis! Distinctio nulla molestias autem? Laboriosam,
    placeat inventore, saepe libero odio illum omnis doloremque fuga animi
    perspiciatis nostrum nisi maiores iste similique dolorum, consequuntur
    veritatis cupiditate excepturi ducimus doloribus corrupti. Deserunt soluta
    facere aspernatur sunt, officia magnam molestias maiores velit exercitationem
    sint incidunt doloribus officiis quam nemo, voluptatibus repellendus aut ab
    dolorem id. Fuga repellendus repellat, similique et, temporibus vero nihil
    maiores nostrum cupiditate eius ex deleniti eos autem. Odio amet aperiam est
    qui quisquam nulla culpa, at labore quaerat cupiditate, ipsa iste, debitis
    dolorem.
</p>

{% endblock %}